/* CSS Document */
*{
	margin:0 auto; 
	padding:0;
	box-sizing: border-box;
	}

body {
  font-size: 16px;
  color: #faf7f3;
  background-color: #003333;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #003333; /*#00332f; */
  border:0;
	text-shadow: 1px 1px 1px #429393;

}

#logo-img {
  background: url('../images/logo.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
    box-shadow: 0 1px 5px 1px #fffdf1;

}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* logo name */
  font-family: 'Lora', serif;
  color: #fffdf1;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: .75;
	text-shadow: 1px 1px 1px #429393;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
  color: #d2b48c;
}
.navbar-brand p a { 
  color: #faf7f3;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-top: 15px;
}
.navbar-brand p span { 
  vertical-align: middle;
}

#nav-list {
  margin-top: -20px;
}
#nav-list a {
  color: #fffdf1;
  text-align: center;
}
#nav-list a:hover {
  background: #d2b48c; /*darker brown*/
}
#nav-list a span {
  font-size: 1.8em;
}
/*change background of active button page*/
#nav-list li a.active {
	background:#d2b48c;}

.dropdown-menu{
	background:transparent;
	border:none;
	text-shadow: none;
}
.dropdown-menu a{
	font-size:.6em; 
	border: .1em solid  #d2b48c;
	background:#003333;
  }
	
#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */  
    padding-bottom: 0;
}

navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #d2b48c;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -50px;
  background: #fffdf1;
}
/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #specialties, #testimonials  {
  line-height: 1.8;
}
#hours > span, #specialties, #testimonials > span {
  font-size: 1.3em;
  color: #fffdf1;
}

#hours a{
	color: #fffdf1;
}
#hours a:hover{
	color:#d2b48c;
}

#specialties p {
  font-size: .8em;
  line-height: 1.8;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */

hr.style-one {
    border: 0;
    height: 1px;
    background: #fffdf1;
    background-image: linear-gradient(to right, #333, #ccc, #333);
	margin-bottom: 2px;
}

/* HOME PAGE */
.container {
  border: none;
}
.jumbotron {
  box-shadow: 0 0 15px #fffdf1;
  border: 2px solid #fffdf1;
}

#socialpack{
	margin: 0auto;
    font-size: 1.5em;
    display: block;
	text-align: center;
}

section.home {
	border: 1px solid #fffdf1;
	width: 100%;
	margin-bottom: 15px;
	margin-top: 0;
	padding: 20px;
}
section.home p a{
	color: #d2b48c;
	font-weight: bold;
}
section.home p a:hover{
	font-style:italic;
}
section h2{
	margin-top: 0;
	font-size: 1.2em;
	/*text-align: center;*/
	font-style: italic;
}
section h3{
	margin: 0;
	font-size: 1em;
	font-style: italic;
	padding-bottom: 10px;
	text-decoration:underline;
}

section ol, ul li{
	margin-left: 15px;
}
#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  box-shadow: 0 0 15px #fffdf1;
  border: 2px solid #fffdf1;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #d2b48c;
}
#menu-tile {
  background: url('../images/room01.gif') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../images/massage02.jpg') no-repeat;
  background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fffdf1;
  opacity: .8;
}


/* MENU */
.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fffdf1;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #fffdf1;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
	#nav-list {
  margin-top: -75px;
}

  .container .jumbotron {
    background: url('../images/massage-md.jpg') no-repeat;
   height: 528px;
	width: 963px;
  }  
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  
  /* Home Page */
  .container .jumbotron {
    background: url('../images/massage-md.jpg') no-repeat;
    height: 550px;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  
  /* Header */
  #logo-img {
    background: url('../images/logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  
  /* Navbar */
  .navbar-brand {
    padding-top: 25px;
	margin-bottom: 30px;
  }

  /* Home Page */
  .container .jumbotron {
    background: url('../images/massage-sm.jpg') no-repeat;
    height: 425px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* logo name */
    padding-top: 5px;
    font-size: 3.5vw; /* 1vw = 1% of viewport width */
	line-height: 1em;
  }

  #collapsable-nav a { /* Collapsed nav text */
    font-size: 1.2em;
 	margin-top: 20px;
	margin-right: 15px;
 }
 #collapsable-nav a:hover { 
	color: #193422;
	background-color: #fffdf1;
 }
  #collapsable-nav a span { /* Collapsed nav glyph */
    font-size: 1.2em;
  }
   
  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fffdf1;
    color: #fffdf1;
  }
  #call-btn > a:hover {
	color: #d2b48c;
	}  

  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

  /* Home Page */
  .container .jumbotron {
   /* margin-top: 30px;*/
    padding: 0;
  }
  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  .menu-item-photo {
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  .menu-item-description {
    text-align: center;;
  }
  .navbar-brand{
	  margin-bottom:15px;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* logo name */
    padding-top: 5px;
    font-size: 4vw;
	line-height: 1.5em;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile,  {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}


